<!DOCTYPE html>
<html lang="en">
<head>
    <title>user details</title>
</head>
<body>
    <table>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>email</th>
            <th>subject</th>
        </tr>
    <h1>Users in our database</h1>
    {% for data in datas %}
        <tr>
        <td>{{data[0]}}</td> 
        <td>{{data[1]}}</td> 
        <td>{{data[2]}}</td> 
        <td>{{data[3]}}</td>  
        <td><a href="{{url_for('edit',id=data[0])}}">edit</a></td> 
        <td><a href="{{url_for('delete',id=data[0])}}">delete</a></td> 
        </tr>
    {% endfor %}
    </table>
    
</body>
</html>